<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.beehunt_activity2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BeeHunt_Activity2">
        <activity android:name=".LastPart"></activity>
        <activity android:name=".TheEnd" />
        <activity android:name=".FinalOutcome" />
        <activity android:name=".PathOutOfTheHouse" />
        <activity android:name=".ChatConvo2" />
        <activity android:name=".ChatConvo" />
        <activity android:name=".ChatDecision" />
        <activity android:name=".TalkDecision" />
        <activity android:name=".HouseStoryAfter" />
        <activity android:name=".HouseOutcome" />
        <activity android:name=".InsideTheHouseDecision" />
        <activity android:name=".NextDecision" />
        <activity android:name=".PathDecisionOutcome" />
        <activity android:name=".StoryPathDecision" />
        <activity android:name=".Story" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>